{% extends "base.html" %}

{% block title %}Siri Chandrashekar{% endblock %}

{% block content %}
<section class="hero-section" id="section_1">
    <div class="section-overlay"></div>


    <div class="video-wrap">
        <video autoplay="" loop="" muted="" class="custom-video" poster="">
            <source src="{{ url_for('static', filename='video/siri.mp4.mov') }}" type="video/mp4" />
            Your browser does not support the video tag.
        </video>
    </div>
</section>
{% endblock %}
